* {
  padding: 0;
  margin: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.promo {
  padding: 21px 0px 93px 0px;
  min-height: 650px;
  background: url("../img/headerbg.png") center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promo__article {
  margin-top: 90px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.promo__article2 {
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 24px;
  text-transform: uppercase;
  color: white;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 460px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
.promo__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  color: white;
  font-size: 14px;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
}
.promo__link {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
.promo__link a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}
.promo__link a:hover {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__official {
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
  font-weight: 700;
}
.header__phone {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: block;
}
.header__phone:hover {
  text-decoration: none;
  color: white;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  display: block;
  color: white;
  background-color: #cf0c0c;
  border-radius: 5px;
  text-align: center;
  border: none;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  width: 150px;
  margin-top: 7px;
  text-transform: uppercase;
}
.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 70px;
}
.button_form {
  width: 300px;
  height: 50px;
  margin-top: 20px;
}

.advantages {
  padding: 70px 0px 80px 0px;
  background-color: #f6f6f6;
}
.advantages__article {
  color: black;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__icon img {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}
.advantages__icon h3 {
  margin-top: 45px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.advantages__text {
  margin-top: 25px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
.advantages__text a {
  color: black;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 300;
  color: #cf0c0c;
}
.advantages__text a:hover {
  color: #cf0c0c;
}

.title {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px;
}

.title_consultation {
  text-align: left;
}

.consultation {
  background: url("../../img/consultbg.png") center center/cover no-repeat;
  padding: 100px 0px 95px 0px;
  min-height: 680px;
}
.consultation__form-text {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 80px;
  line-height: 20px;
}

.feed_form {
  font-weight: 300;
  font-size: 14px;
  margin-top: 40px;
  width: 300px;
}
.feed_form input {
  display: block;
  margin-top: 15px;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
}
.feed_form input:first-child {
  margin-top: 0px;
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }

  .header__logo img {
    width: 200px;
  }
  .header__official {
    font-size: 9px;
  }
  .header__official span {
    font-size: 13px;
  }
  .header__phone {
    font-size: 16px;
  }

  .promo {
    padding-bottom: 50px;
  }
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title_consultation {
    text-align: center;
    font-size: 34px;
  }

  .consultation__form-text {
    margin-top: 50px;
    text-align: center;
  }

  .feed_form {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 575px) {
  .container {
    width: 95%;
  }

  .header__logo img {
    width: 200px;
  }
  .header__official {
    display: none;
  }
  .header__phone {
    font-size: 13px;
  }

  .button {
    width: 130px;
  }
  .button_main {
    width: 300px;
    margin-top: 30px;
  }

  .promo {
    padding-bottom: 30px;
  }
  .promo__article {
    font-size: 30px;
  }
  .promo__article2 {
    font-size: 18px;
  }
  .promo__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }
  .promo__icon {
    margin-top: 30px;
  }
  .promo__icon:first-child {
    margin-top: 0px;
  }

  .advantages {
    padding: 25px 0px 35px 0px;
  }
  .advantages__article {
    font-size: 25px;
  }
  .advantages__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__icon img {
    margin-top: 40px;
  }
  .advantages__icon h3 {
    margin-top: 15px;
  }
  .advantages__text {
    margin-top: 10px;
  }

  .title_consultation {
    text-align: center;
    font-size: 20px;
  }

  .consultation {
    min-height: 400px;
    padding: 50px 0px 70px 0px;
  }
  .consultation__form-text {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
  }

  .feed_form {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .button_form {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .container {
    width: 95%;
  }

  .header__logo img {
    width: 150px;
  }
  .header__official {
    display: none;
  }
  .header__phone {
    font-size: 13px;
  }

  .button {
    width: 130px;
  }
  .button_main {
    width: 300px;
    margin-top: 30px;
  }

  .promo {
    padding-bottom: 30px;
  }
  .promo__article {
    font-size: 24px;
  }
  .promo__article2 {
    font-size: 14px;
  }
  .promo__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }
  .promo__icon {
    margin-top: 30px;
  }
  .promo__icon:first-child {
    margin-top: 0px;
  }

  .advantages {
    padding: 25px 0px 35px 0px;
  }
  .advantages__article {
    font-size: 25px;
  }
  .advantages__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__icon img {
    margin-top: 40px;
  }
  .advantages__icon h3 {
    margin-top: 15px;
  }
  .advantages__text {
    margin-top: 10px;
  }

  .title_consultation {
    text-align: center;
    font-size: 16px;
  }

  .consultation {
    min-height: 400px;
    padding: 50px 0px 70px 0px;
  }
  .consultation__form-text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .feed_form {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 300px;
  }

  .button_form {
    width: 100%;
  }
}